.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: lightgray 1px solid;
    margin-bottom: 2em;
}

.navItem {
    padding: 10px 10px;
}

.navItem:last-of-type {
    padding-right: 1.75em;
}

.logo {
    padding: 10px 1.25em;
    margin-right: auto;
}

.logo img {
    height: 40px;
}